<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <h2 class="mt-5 my-3 bg-light">タグ "<%= @word %>" のレシピ一覧（全<%= @recipes.total_count %>件）</h2>
    </div>
  </div>
</div>

  <%= render 'public/recipes/list', recipes: @recipes %>
  
  <%= paginate @recipes %>