<div class="container">
  <div class="row">
    <div class="col-5">
      <h1 class="mt-5 my-3 bg-light">タグ = <%= @word %>（全<%= @recipes.count %>件）</h1>
    </div>
  </div>
</div>

  <%= render 'public/recipes/list', recipes: @recipes %>