<div class="cotainer">
  <div class="row">
    <div class="col-auto offset-1">
      <h2 class="mt-5 ml-4 bg-light">"<%= @word %>" の検索結果（全<%= @recipes.count%>件）</h2>
    </div>
  </div>
</div>

<%= render 'public/recipes/list', recipes: @recipes %>