<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1 class="text-center mt-4">About</h1>
      
      <h4 class="about-text text-center pt-3 pb-4">DeliciousMeatDishは肉料理に特化したレシピ投稿サイトです。</br>
      昨今菜食主義が増えている中、このサイトでは、</br>
      お肉料理を中心にレシピを投稿でき、レビューをすることもできます。 </br>
      肩身が狭くなってしまった肉好きさんのプラットフォームを作れたらと思いました。</h4>
      
      <div class="text-center mb-4">
        <%= image_tag 'about1.jpg', size: "640x500", class: "w-100" %>
      </div>
    </div>
  </div>
</div>