  <div class="text-center top">
    <h2>ようこそ、DeliciousMeatDishへ！</h2>
  </div>
  
<div class="container">
  <%= render 'layouts/flash'%>
  
    <div class="mt-4">
      <%= render 'slide' %>
    </div>
  
  <div class="row">
    <div class="col-8">
      <h2 class="mt-5">新着レシピ</h2>
    </div>
  </div>
  
  
<%= render 'public/recipes/list', recipes: @recipes %>
</div>