<div class="container">
  <%= render 'layouts/flash'%>
  
  <div class="row">
    <div class="col-7 offset-2 mt-5">
      <%= render 'slide' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <h2 class="mt-5">新着レシピ</h2>
    </div>
  </div>
  
  <%= render 'public/recipes/list', recipes: @recipes %>
</div>