@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
}

ul li {
  width: fit-content;
  margin: auto;
}

.top-bg {
  background-color: rgba(245,245,245,0.55);
  line-height: 60px;
  color: black;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 95px;
}

.about {
  font-size: 47px;
}

.about-bg {
  background-color: rgba(0,0,0,0.4);
  height: 500px;
  margin-bottom: 90px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
  font-family: 'Hannotate SC',sans-serif;
}

main {
  background-image: url('/assets/back.jpeg');
  //background-image: image-url("back.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  padding: 0px;
  flex: 1;
}

.top {
  background-color: #696969;
  height: 90px;
  color: white;
  padding-top: 20px;
}

.about-text {
  line-height: 50px;
  font-size: 23px;
  padding-top: 55px;
}

footer {
  color: #fff;
  background-color: #2f4f4f;
  width: 100%;
}

.footer__navi {
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-bottom: 30px;
}

.footer__navi li {
  float: right;
  display: inline-block;
  margin-right: 16px;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

.footer__logo {
}

.pagination {
  justify-content: center;
}

.flash-message {
  text-align: center;
  height: auto;
  width: auto;
  background-color: #00fa9a;
}

.alert {
  text-align: center;
}