<div class="container">
  <div class="row">
    <div class="col-6 my-5">
      <%= render 'layouts/flash' %>
      <h2 class="col-9"><%= @user.name %>　さんのレシピ一覧</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-9 offset-1">
      
      <table class="table table-borderless">
        <% if @user == current_user %>
        <tr>
          <td><h2>登録情報</h2></td>
          <td><%= link_to "編集する", edit_user_path(@user.id), class: 'btn btn-lg btn-success' %></td>
        </tr>
        <% end %>
      </table>
  
    <%= render 'public/recipes/list',recipes: @recipes %>
</div>