  <div class="md-flex md-justify-between">
    <h3 class="pt-3 pl-4">DeliciousMeatDish</h3>
    <ul class="footer__navi flex">
      <li>About</li>
      <li>サイトマップ</li>
      <li>プライバシーポリシー</li>
    </ul>
  </div>
  <hr />
  <p class="copyright text-center">
    © 2023 JAJAAAN Inc. All Rights Reserved.
  </p>